<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Produtos" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Carrinho" tabIcon="film"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Watched" tabIcon="flag"></ion-tab>
</ion-tabs>
