<ion-header>
  <ion-navbar>
    <ion-title>
      Watched
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let movie of this.movies" (click)="openMovieDetail(movie)">
      <ion-thumbnail item-start class="movie-cover">
        <img src="{{ movie.thumb }}">
      </ion-thumbnail>
      <h2>{{movie.title}}</h2>
      <p>{{movie.price}}</p>
      <p>{{ movie.stars }}</p>
    </button>
  </ion-list>
</ion-content>
