<ion-header>
  <ion-navbar>
    <ion-title>Add Protuto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="movieForm">
    <ion-item>
      <ion-icon name="shirt" item-start> </ion-icon>
        <ion-label>Marca</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
        <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.title.valid && submitAttempt"> </ion-icon>
    </ion-item>


    <ion-item>
      <ion-icon name="image" item-start> </ion-icon>
      <ion-label>Cover Image</ion-label>
      <ion-input formControlName="thumb" type="text"></ion-input>
      <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.thumb.valid && submitAttempt"> </ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="paper" item-start> </ion-icon>
      <ion-label>Descrição</ion-label>
      <ion-input formControlName="sinopse" type="text"></ion-input>
      <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.sinopse.valid && submitAttempt"> </ion-icon>
    </ion-item>



    <!-- Missing input for movie Director -->

    <!-- Missing input for movie Stars -->

    <!-- Missing input for movie Genre -->

    <div padding>
      <button ion-button type="submit" full round (click)="saveMovie()">Add Produto</button>
    </div>
  </form>

</ion-content>
