<ion-header>
  <ion-navbar>
    <ion-title>
      Detalhes do Produto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <h1>{{movie.title}}</h1>
    <p> {{movie.sinopse}} </p>
  </div>

  <ion-list>
    <ion-item>

      <h2>Marca do Produto</h2>
      <p item-right> {{movie.director}} </p>
    </ion-item>
    <ion-item>

      <h2>Categoria</h2>
      <p item-right> {{movie.genre}} </p>
    </ion-item>
    <ion-item>

      <h2>Preço</h2>
      <p item-right> {{movie.price}} </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>

      <ion-label>Adicionar no Carrinho</ion-label>
      <ion-toggle [(ngModel)]="movie.wishlist" (ionChange)="toggleChanged()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
